<div class="container">

    <div class="row mt-5">
        <div class="col-md-12 text-center">
            <img src="\assets\img\stop.png" alt="Not Found..." width="200rem" class="img-fluid" />
            <h4 class="mt-4 text-muted">You must have admin access to access this page!</h4>
            <a href="/Xeberler" class="btn btn-outline-danger mt-2"> Back to News page </a>
        </div>
    </div>

</div>
